In [ ]:
print("hi")

hi

In [ ]:
a="hellow"
print(a)

hellow

In [ ]:
print(chr(60))

)

In [ ]:
payment_per_day=500
days_of_working=25
total_salary=payment_per_day*days_of_working
print(total_salary)

12500

In [ ]:
a,b,c="hai","hellow","hi"
print(a,b,c)

hai hellow hi

In [ ]:
a="hai"
b="hellow"
c="hi"
print(a,b,c)

hai hellow hi

In [ ]:
x=500#payment per day
y=25#working days
z=x*y
print(z)

12500

In [ ]:
x=("adithya")
print(type(x))

<class 'str'>

In [ ]:
x="hello python"
y=123
z=1.23
a=True
b="123"
print(x,y,z,a,b)

hello python 123 1.23 True 123

In [ ]:
x="hello python"
y=123
z=1.23
a=True
b="123"
print(type(z))

<class 'float'>

In [ ]:
x=123
print(x)
print(float(x))

123
123.0

In [ ]:
x=("hellow "+"python")
print(x)

hellow python

In [ ]:
x=("hellow ")
y=("python")
print(x+y)

hellow python

In [ ]:
x=1234
y="1234"
z=str(x)
a=y+z
print(a)

12341234

# STRING

In [ ]:
x="array"
print(x[4])

y

In [ ]:
a="my name is adithya"
print(a[2:8])#string start:stop

 name

In [ ]:
a="my name is pyton"
print(a[0:15:3])#string start:stop:skip

mnesy

In [ ]:
x="hellow world"
print(x[-14:-1])

hellow worl

In [ ]:
text="hello lets start coding"#in a text
print("hello"in text)

True

In [ ]:
voice="this is an automated voice by siri"#not in text
print("hello"not in voice)

True

In [ ]:
word="hello python"
print(word.upper())   #to change upper case

HELLO PYTHON

In [ ]:
word="HELLO PYTHON"
print(word.lower())   #to change lower case

hello python

In [ ]:
a=" hello, world "
print(a.strip())    #remove white space in front and back

hello, world

In [ ]:
a="hello world"
print(a.replace("w","a"))     #replace w to a

hello aorld

In [ ]:
a="hellow,world"
print(a.split(","))   #split before, and after,

['hellow', 'world']

In [ ]:
a="hello "
b="python"
v=a+b   #concatinate
print(v)

hello python

In [ ]:
age=30
txt="my name is john,i am "+age    #error occur because 2 different datatypes
print(txt)

TypeError: can only concatenate str (not "int") to str

In [ ]:
age=30
txt="my name is john, and i am {}"    #concatination of 2 diffrent data types
print(txt.format(age))

my name is john, and i am 30

In [ ]:
txt="we are the so called\" vinu \"from north india"    #for highlite "vinu"
print(txt)

we are the so called" vinu "from north india

In [ ]:
print(10==10)        #to check true or false
print(5<4)
print(5>4)

True
False
True

In [ ]:
print(bool("hello"))
print(bool(100))       #true

True
True

In [ ]:
print(bool())        #false

False

In [ ]:
x=5
y=6
print(x+y)          #arithmetic op +

11

In [ ]:
x=3
y=6
print(x**y)

729

In [ ]:
x=5
y=3
print(x>2 and y<5)

True

#**LIST**

In [ ]:
fruits=["banana","mango","apple"]   #print list
print(fruits)

['banana', 'mango', 'apple']

In [ ]:
fruits=["banana","apple","pinapple"]   #print a specific one
print(fruits[1])

apple

In [ ]:
fruits=["apple","banana","orange","kiwi","mango","green apple"]   #slice the list
print(fruits[1:5])

['banana', 'orange', 'kiwi', 'mango']

In [ ]:
fruits=["banana","orange","kiwi","mango","apple"]   #replacing the list
fruits[1]= "greenapple"
print(fruits)

['banana', 'greenapple', 'kiwi', 'mango', 'apple']

In [ ]:
fruits=["apple","banana","orange"]   #insert new item
fruits.insert(0,"kiwi")
print(fruits)

['kiwi', 'apple', 'banana', 'orange']

In [ ]:
fruits=["apple","banana","orange",]  #add or append a new item
fruits.append("mango")
print(fruits)

['apple', 'banana', 'orange', 'mango']

In [ ]:
fruits=["apple","orange","banana"]    #add 2 lists or extend the list
fruits1=["kiwi","mango"]
fruits.extend(fruits1)
print(fruits)

['apple', 'orange', 'banana', 'kiwi', 'mango']

In [ ]:
fruits=["mango","apple","banana"]   #remove element
fruits.remove("mango")
print(fruits)

['apple', 'banana']

In [ ]:
fruits=["banana","apple","mango"]   #remove the specified element
fruits.pop(1)
print(fruits)

['banana', 'mango']

In [ ]:
fruits=["mango","apple","orange"]
del fruits[1] #remove all list
print(fruits)

['mango', 'orange']

In [ ]:
fruits=["banan","mango","orange"]   #clear whole list
fruits.clear()
print(fruits)

[]

In [ ]:
fruits=["apple","orange"]   #copy the list in to fruit1(anothe variable)
fruit1=fruits.copy()
print(fruits)

['apple', 'orange']

# TUPLE

In [ ]:
color=("red","orange","green")  #print tuple
print(color)

('red', 'orange', 'green')

In [ ]:
color=("red","yellow","orange")  #length of tuple
print(len(color))

3

In [ ]:
x=("red","orange","yellow")  #tuple cant be changable thats why tuple convert into list and change,reconvert in to tuple
y=list(x)
y[1]="blue"
x=tuple(y)
print(x)

('red', 'blue', 'yellow')

In [ ]:
fruits=("red","orange","yellow") #unpacked values
(a,b,c)=fruits
print(a)
print(c)

red
yellow

# SETS

In [ ]:
fruits={"orange","mango","apple"}  # just print a set
print(fruits)

{'mango', 'apple', 'orange'}

In [ ]:
fruits={"apple","orange","banana"}  #check the elementt in the set
print("apple" in fruits)

True

In [ ]:
fruits={"apple","banana","fig"}   #add the element in the exsisting list
fruits.add("orange")
print(fruits)

{'orange', 'apple', 'banana', 'fig'}

In [ ]:
x={"red","black","blue"}    #add set and list
y=["orange","yellow"]
x.update(y)
print(x)

{'black', 'blue', 'orange', 'red', 'yellow'}

In [ ]:
color={"red","black"}   #remove the specific element
color.remove("black")
print(color)

{'red'}

In [ ]:
x={"red","blue","black"}   #clear all the element
x.clear()
print(x)

set()

In [ ]:
x={"red","blue"}
y=x.pop()
print(x)

{'red'}

In [ ]:
set1={"a","b","c"}   #union(adding)
set2={"e","g","h"}
set3=set1.union(set2)
print(set3)

{'b', 'e', 'c', 'g', 'h', 'a'}

In [ ]:
set1={"a","b","c"}  #update(same as adding)
set2={"1","2","3"}
set1.update(set2)
print(set1)

{'3', 'a', '2', 'b', 'c', '1'}

In [ ]:
x={"apple","banana","cherry"}     #intersection(item that are present in both sets)
y={"google","microsoft","apple"}
x.intersection_update(y)
print(x)

{'apple'}

In [ ]:
x={"apple","banana","cherry"}
y={"google","microsoft","apple"}
z=x.intersection(y)
print(z)

{'apple'}

In [ ]:
x={"apple","banana","cherry"}    #symmetric
y={"google","microsoft","apple"}
x.symmetric_difference_update(y)
print(x)

{'google', 'cherry', 'banana', 'microsoft'}

In [ ]:
x={"apple","banana","cherry"}
y={"google","microsoft","apple"}
z=x.symmetric_difference(y)
print(z)

{'google', 'cherry', 'banana', 'microsoft'}

# **FROZENSET**

In [ ]:
nu=(1,2,3,4,5,6,7,8)
num=frozenset(nu)
print("frozenset object:",num)

frozenset object: frozenset({1, 2, 3, 4, 5, 6, 7, 8})

# DICTIONARIES

In [ ]:
cars={"brand":"BMW",
      "model":"2nd series",
      "year":"2000"}
print(cars)

{'brand': 'BMW', 'model': '2nd series', 'year': '2000'}

In [ ]:
cars={"brand":"BMW",
      "model":"2nd series",
      "year":"2000"}
x=cars.get("model")   #get the defined value(model:2nd series)
print(x)

2nd series

In [ ]:
cars={"brand":"BMW",
      "model":"2nd series",
      "year":"2000"}
x=cars.keys()    #print all the keys only
print(x)

dict_keys(['brand', 'model', 'year'])

In [ ]:
cars={"brand":"BMW",
      "model":"2nd series",
      "year":"2000"}
x=cars.values()   #print all the values only
print(x)

dict_values(['BMW', '2nd series', '2000'])

In [ ]:
cars={"brand":"BMW",
      "model":"2nd series",
      "year":"2000"}
x=cars.items()      #print all items
print(x)

dict_items([('brand', 'BMW'), ('model', '2nd series'), ('year', '2000')])

In [ ]:
cars={"brand":"BMW",
      "model":"2nd series",
      "year":"2000"}
cars["year"]=2020    #to change value
print(cars)

{'brand': 'BMW', 'model': '2nd series', 'year': 2020}

In [ ]:
cars={"brand":"BMW",
      "model":"2nd series",
      "year":"2020"}
cars.pop('year')   #delete(pop) the defined key and value(year)
print(cars)

{'brand': 'BMW', 'model': '2nd series'}

In [ ]:
cars={"brand":"BMW",
      "model":"2nd series",
      "year":"2020"}
del cars["model"]    #delete the defined value
print(cars)

{'brand': 'BMW', 'year': '2020'}

In [ ]:
cars={"brand":"BMW",
      "model":"2nd series",
      "year":"2020"}
cars.clear()   #clear the whole
print(cars)

{}

In [ ]:
cars={"brand":"BMW",
      "model":"2nd series",
      "year":"2020"}
cars1=cars.copy()   #copy the item in cars1
print(cars1)

{'brand': 'BMW', 'model': '2nd series', 'year': '2020'}

In [ ]:
cars={"brand":"BMW",
      "model":"2nd series",
      "year":"2020"}
cars1=dict(cars)   #dict(copy)
print(cars1)

{'brand': 'BMW', 'model': '2nd series', 'year': '2020'}

## nested dict

In [ ]:
friends={
    "child 1":{"name":"adi","age":"10"},
    "child 2":{"name":"greesh","age":"15"},
    "child 3":{"name":"anu","age":"20"}
    }
print(friends)

{'child 1': {'name': 'adi', 'age': '10'}, 'child 2': {'name': 'greesh', 'age': '15'}, 'child 3': {'name': 'anu', 'age': '20'}}

In [ ]:
child1={"name":"adi","age":"10"}   #add 3 seprate dictionary into a sinle dictionary
child2={"name":"greesh","age":"15"}
child3={"name":"anu","age":"20"}
friends={"child1":child1,
         "child2":child2,
         "child3":child3
         }
print(friends)

{'child1': {'name': 'adi', 'age': '10'}, 'child2': {'name': 'greesh', 'age': '15'}, 'child3': {'name': 'anu', 'age': '20'}}

# CONDITIONAL STATEMENT

## if condition

In [ ]:
a=33
b=200
if b>a:   #if statement
  print("b is greater than a")

b is greater than a

##elif

In [ ]:
a=200
b=200
if b>a:
  print("b is greater than a")
elif a==b:   #elif statement
  print("both are equal")

both are equal

## else

In [ ]:
a=500
b=200
if b>a:
  print("b is greater than a")
elif a==b:
  print("both are equal")
else:              #else statement
   print("a is greater than b")

a is greater than b

## and & or

In [ ]:
a=20
b=30
c=40
if a<b and a<c:   #and statement(both statement are equal)
  print("a greater than b")

a greater than b

In [ ]:
a=20
b=30
c=40
if a<b or a<c:   #or statement(at least one condition are true)
  print("a greater than c")

a greater than c

##nested if

In [ ]:
x=200
if x>100:
  print("above 100")
  if x<400:      #if under if
    print("and also below 400")
else :
  print(" but not above 400")

above 100
and also below 400

## pass

In [ ]:
a=150
b=100
if a>b:
  pass   #if statement with no content(avoid error)

# QUESTIONS

### grade calculation

In [ ]:
mark=int(input("enter your mark:"))
if mark>=90:
  print("a")
elif mark>=80:
  print("b")
elif mark>=70:
  print("c")
elif mark>=60:
  print("d")
elif mark>=50:
  print("e")
elif mark>=40:
  print("f")
else:
  print("fail")

enter your mark:88
b

### odd or even number

In [ ]:
number=int(input("enter the number:"))
if number %2==0:
  print("number is even")
else:
  print("number is odd")

enter the number:6
number is even

### positive,negative or zero

In [ ]:
number=int(input("enetr the number:"))
if number>=1:
 print("number is postive")
elif number<=-1:
 print("number is negative")
else:
  print("zero")

enetr the number:0
zero

### New Section

### check divisibilty by 3 and 5

In [ ]:
number=int(input("enter the number: "))
if number%3==0 and number%5==0:
 print(" number is divisible")
else:
  print("number is not divisible")

enter the number: 3
number is not divisible

### largest of 3 numbers

In [ ]:

number1=(input("enter the 1st numbers :"))
number2=(input("enter the 2nd numbers :"))
number3=(input("enter the 3rd numbers :"))
if number1>number2 and number1>number3:
  print("the largest number is",number1)
elif number2>number1 and number2>number3:
  print("the largest number is",number2)
elif number3>number1 and number3>number2:
  print("the largest number is",number3)

enter the 1st numbers :2
enter the 2nd numbers :43
enter the 3rd numbers :18
the largest number is 43

### leap year check

In [ ]:
year=int(input("enter the year: "))
if year%4==0 and year%100!=0:
  print("leap year")
elif year%400==0:
  print("leap year")
else:
  print("not a leap year")

enter the year: 2001
not a leap year

### vowel and consonant

In [ ]:
alphabet=(input("enter the character : "))
if alphabet in"aeiou":
  print("vowel")
else:
  print("consonant")

enter the character : a
vowel

### nested if example-year classification

In [ ]:
year=int(input("enter the year: "))
if year%4==0:
  if year%100!=0:
    print("its a leap year")
elif year%400==0:
  print("its a leap year")
else:
  print("its aleap year")

enter the year: 2016
its a leap year

### password validation

In [ ]:
a=12345
password=int(input("enter the pasword : "))
if password==a:
  print(" successfully signed")
elif password!=a:
  print("password incorrect,try again")

enter the pasword : 12345
 successfully signed

In [ ]:
a="adithya"
b="12345"
user_id=(input("enter the user id : "))
password=(input("enter the password : "))
if user_id==a and password==b:
  print("succesfully logged")
elif user_id==a and  password!=b:
  print("password incorrect!")
elif user_id!=a and password==b:
  print("user id incorrect!")
else:
  print("try again!")

enter the user id : adithya
enter the password : 12345
succesfully logged

In [ ]:
a="adithya"
b="12345"
balance=5000
user_id=(input("enter the user id : "))
password=(input("enter the password : "))
if user_id==a and password==b:
  print("succesfully logged")
  amount=int(input("enter the withdrawal amount : "))
  if amount<=0:
    print("withdrawal amount is wrong")
  elif amount>=balance:
      print("insufficient balance")
  else:
      print("withdrawal succesfull")
      x=balance-amount
      print("balance is",x)
elif user_id!=a and password==b:
    print("incorrect username")
elif user_id==a and password!=b:
      print("incorrect password")
else:
    print("both are incorrect! try again! ")

# LOOPING STATEMENT

## while

In [ ]:
a=[1,2,3,4]
while a:
  print(a.pop())

4
3
2
1

In [ ]:
a=[1,2,3,4]
while a:
  print(a)   #it work countinous

4
3
2
1

In [ ]:
i=0
while i<4:
  i=i+1
  print(i)

1
2
3
4

In [ ]:
i=5
while i>0:
 i=i-1
 print(i)

4
3
2
1
0

In [ ]:
a='loop in statement'
i=0
while i<len(a):
  i+=1 #i=i+1
  pass
print('value of i :',i)

value of i : 17

In [ ]:

i=0
a='loop in python'
while i<len(a):
  if a[i]=='p' or a[i]=='y':
     i+=1
     continue   #p &y is not printing
  print('current letter is : ',a[i])
  i+=1

current letter is :  l
current letter is :  o
current letter is :  o
current letter is :
current letter is :  i
current letter is :  n
current letter is :
current letter is :  t
current letter is :  h
current letter is :  o
current letter is :  n

In [ ]:
i=0
a='loop in python'
while i<len(a):
  if a[i]=='p' or a[i]=='y':
     i+=1
     break  #stop with p
  print('current letter is : ',a[i])
  i+=1

current letter is :  l
current letter is :  o
current letter is :  o

In [ ]:
i=0
while i<4:
  i=i+1
  print(i)   #while else
else:
  print("no break\n")

1
2
3
4
no break

In [ ]:
i=0
while i<4:
  i=i+1
  print(i)
  break
else:
  print("no break\n")

1

## for loop

In [ ]:
l=["hello","hai","hi"]   #for loop in list
for a in l:
  print(a)

hello
hai
hi

In [ ]:
t=("hello","hai","hi")   # tuple in for loop
for a in t:
  print(a)

hello
hai
hi

In [ ]:

a="python developer"
for x in a:  #continue in for loop
  if x=='o' or x=='d':
     continue
  print('current letter:',x)

current letter: p
current letter: y
current letter: t
current letter: h
current letter: n
current letter:
current letter: e
current letter: v
current letter: e
current letter: l
current letter: p
current letter: e
current letter: r

In [ ]:
for x in 'python developer':  #break in forloop
 if x=='t' or x=='e':
   break
 print("current letter:",x)

current letter: p
current letter: y

In [ ]:
for x in 'python developer':  #pass in forloop
 pass
print('last letter : ',x)

last letter :  r

In [ ]:
for i in range(10):    #range in for loop
  print(i,end=":")

0:1:2:3:4:5:6:7:8:9:

In [ ]:
l=[10,20,30,40,50]   # "
for i in range(len(l)):
  print(l[i],end=".")

10.20.30.40.50.

In [ ]:
for i in range(1,10,2):#start,stop,step
 print(i)

1
3
5
7
9

In [ ]:
for i in range(0,50,2):   #even number using start,stop,step
  print(i,end=",")

0,2,4,6,8,10,12,14,16,18,20,22,24,26,28,30,32,34,36,38,40,42,44,46,48,

In [ ]:
for i in range(1,50,2):   #odd number using start,stop,step
  print(i,end=" ")

1 3 5 7 9 11 13 15 17 19 21 23 25 27 29 31 33 35 37 39 41 43 45 47 49

## nested loop

In [ ]:
adj=["red","big","tasty"]
fruits=["apple","orange","banana"]
for x in adj:
  for y in fruits:
    print(x,y)

red apple
red orange
red banana
big apple
big orange
big banana
tasty apple
tasty orange
tasty banana

# QUESTIONS

## print number from 1 to 10

In [ ]:
for i in range(1,11):
  print(i,end=" ")

1 2 3 4 5 6 7 8 9 10

## print even numbers from 1 to 20

In [ ]:
for i in range(2,20,2):
 print(i,end=" ")

2 4 6 8 10 12 14 16 18

## print the multiplication table of 5

In [ ]:
num=5
for x in range(1,11):
  print(f"{num}*{x}={num*x}")

5*1=5
5*2=10
5*3=15
5*4=20
5*5=25
5*6=30
5*7=35
5*8=40
5*9=45
5*10=50

## print each character in a string

In [ ]:
string="adithya"
for x  in string:
  print(x)

a
d
i
t
h
y
a

## calculate the sum of numbers from 1 to 100

In [ ]:
sum=0
for i in range(1,101):
    sum += i
print("sum:",sum)

sum: 5050

## print all elemnts in a list

In [ ]:
list=["apple","banana","orange"]
for fruit in list:
  print(fruit)

apple
banana
orange

## count the no of vowels in a string

In [ ]:
string="adithya"
vowels="aeiou"
for i in string:
  if i in vowels:
    i=0
    i += 1
print(i)

1

## print the square of numbers from 1 to 10

In [ ]:
for i in range(1,11):
  print(i,"*",i,"=",i*i)

1 * 1 = 1
2 * 2 = 4
3 * 3 = 9
4 * 4 = 16
5 * 5 = 25
6 * 6 = 36
7 * 7 = 49
8 * 8 = 64
9 * 9 = 81
10 * 10 = 100

## print elements reverse from a list

In [ ]:
l=["apple","banana","orange"]
for i in range(len(l)-1,-1,-1):
  print(l[i])

orange
banana
apple

## print the factorial of a number using a for loop

In [ ]:
sum=1
for x in range(1,7):
 sum*=x
print("fact is:",sum)

fact is: 720

## find the largest number in a list

In [ ]:
t=0
i=[17,1,5,56,78,45]
for x in i:
  if x>t:
    t=x
print(t)

78

## find the smallest number in a list

In [ ]:
t=100
i=[17,1,5,56,78,45]
for x in i:
  if x<t:
    t=x
print(t)

1

## perfect number

In [ ]:
total=0
num1=int(input("enter the number : "))
for i in range(1,num):
  if num1%i==0:
    total+=i
if num1==total:
  print(num1,"is a perfect number")
else:
  print(num1,"is not a perfect number")

enter the number : 6
6 is a perfect number

## prime number

In [ ]:

num1=int(input("enter the number : "))
for i in range(2,num1):
   if num1%i==0:
     print(num1," not prime number")
     break
else:
  print(num1," prime number")

enter the number : 9
9  not prime number

## printing all the prime numbers

In [ ]:
num1=int(input("enter the number : "))
for i in range(2,101):
  for x in range(2,i):
    if i%x==0:
       break
  else:
    print(i)

enter the number : 100
2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97

## print triangle of stars

In [ ]:
row=5
for i in range(1,6):
  print("*"*i)

*
**
***
****
*****

In [ ]:
num1=int(input("enter the number : "))
for i in range(1,num1+1):
  print("*"*i)

enter the number : 9
*
**
***
****
*****
******
*******
********
*********

## remove duplicates in the list

In [ ]:
number=["1","2","2","3","4","5","5"]
num2=[]
for i in number:
  if i not in num2:
    num2.append(i)
print(num2)

['1', '2', '3', '4', '5']

## print a number piramid

In [ ]:
row=4
for i in range(1,5):
 for x in range(1,i+1):
  print(x,end=" ")
 print()

1
1 2
1 2 3
1 2 3 4

# FUNCTIONS

In [ ]:
def hello():
  print("hellow")
hello()

hellow

In [ ]:
def evenodd(x):   #arg of a function
  if x%2==0:
    print("even")
  else:
    print("odd")
evenodd(6)
evenodd(7)

even
odd

In [ ]:
def number(x,y=50): #default arg
  print("x :",x)
  print("y :",y)
number(10)

x : 10
y : 50

In [ ]:
def word(firstname,lastname,thirdname):  #key word arg
  print(firstname,lastname,thirdname)
word(firstname='hello',lastname='world',thirdname='!')
word(firstname='python',lastname='is',thirdname='good')

hello world !
python is good

In [ ]:
def myfunction(*kids):     #arbitary arg(*)
  print("the youngest child is "+kids[1])  # ,also working
myfunction("vinu","anu","manu")

the youngest child is anu

In [ ]:
def myfunction(*argv):  #all arg show using forloop
  for x in argv:
    print(x)
myfunction("hellow",'what','are','you','doing')

hellow
what
are
you
doing

In [ ]:
def myfunction(*argv):
  print(argv)
myfunction('hellow','what','are','you','doing')

('hellow', 'what', 'are', 'you', 'doing')

In [ ]:
def myfunction(**student): #arbitary keyword(**)
  print("fist name : "+student["fname"])
myfunction(fname="adithya")

fist name : adithya

In [ ]:
def myfun(**stud): #(**)
  for key,value in stud.items():
    print(f"{key}:{value}")
myfun(name='adi',age=20)
print()
myfun(name='sree',age=25)

name:adi
age:20

name:sree
age:25

In [ ]:
def myfun(country="norvay"):  #default parameter
  print("my country is "+country)
myfun('america')
myfun("india")
myfun("uae")
myfun()

my country is america
my country is india
my country is uae
my country is norvay

In [ ]:
def myfun(xyz):   #passing a list as an arg
  for x in xyz:
    print(x)
fruits=["banana","apple","orange"]
myfun(fruits)

banana
apple
orange

In [ ]:
def myfun(x):
  return(x**2)
print(myfun(2))
print(myfun(-4))

4
16

## nested fun

In [ ]:
def f1():  #nested fun
  s="happy"
  def f2():
    print(s)
  f2()
f1()

happy

## lambda

In [ ]:
def cube(y):  #lambda and normal fun
  return(y*y*y)
a=lambda x:x*x*x

print(cube(5))
print(a(3))

125
27

In [ ]:
def power(n):
  return lambda a:a**n
base=power(2)
print("now power is set to 2")
print("6 power of 2 =",base(6))

base=power(5)
print("now power is set to 5")
print("8 power of 5 =",base(8))

now power is set to 2
6 power of 2 = 36
now power is set to 5
8 power of 5 = 32768

In [ ]:
a=[100,2,8,6,5,4,3,31,10,11]
filtered=filter(lambda x:x %2 ==0,a)
print(list(filtered))
print()
mapped=map(lambda x:x %2==0,a)
print(list(mapped))

[100, 2, 8, 6, 4, 10]

[True, True, True, True, False, True, False, False, True, False]

## global&local

In [ ]:
def myfun():
  s="hai"  #local variable
  print(s)

#global variable
a="python"

myfun()  #calling local
print(a) #calling global

hai
python

In [ ]:
a=1
def f():
  print('inside f(): ',a)
def g():
  a=2
  print('inside g():',a)
def h():
  global a
  a=3
  print('inside h():',a)

print('global:',a)
f()
print('global:',a)
g()
print('global:',a)
h()
print('global:',a)

global: 1
inside f():  1
global: 1
inside g(): 2
global: 1
inside h(): 3
global: 3

In [ ]:
def shout(text):  #class fun
  return text.upper()
print(shout('hello'))
yell=shout             #object or instance(its an object of function)
print(yell('hello'))

HELLO
HELLO

In [ ]:
def shout(text):
  return text.upper()
def whisper(text):
  return text.lower()
def greet(func):
  greeting=func("hi,i am created by a function passed asa an argument.")
  print(greeting)
greet(shout)
greet(whisper)

HI,I AM CREATED BY A FUNCTION PASSED ASA AN ARGUMENT.
hi,i am created by a function passed asa an argument.

In [ ]:
def create_adder(x):
  def adder(y):
    return x+y
  return adder
add_15=create_adder(15)
print(add_15(10))

25

##recursive function

In [ ]:
def fact(x):
  if x==1:
    return 1
  else:
    return(x*fact(x-1))
num=4
print("the factorial of",num,"is",fact(num))

the factorial of 4 is 24

# QUESTIONS

## write a function to add 2 numbers

In [ ]:
def ad(a,b):
   print(a+b)
ad(2,4)

6

## write a function to check whether a number is even or odd

In [ ]:
def num(a):
  if a%2==0:
    print("even")
  else:
    print("odd")
num(7)

odd

## write a function return the factorial of a number

In [ ]:
def fac(i):
  total=1
  for i in range(1,i+1):
    total*=i
  print("fact is:",total)
fac(6)

fact is: 720

## write function to find maximum of 3 numbers

In [ ]:
def max(a,b,c):
  if a>=b and a>=c:
    return a
  elif b>=a and b>=c:
    return b
  else:
    return c
print("largest number is: ",max(98,1025,789))

largest number is:  1025

## write a function to check whether a number is prime

In [ ]:
def a(b):
 for i in range(2,b):
  if b%i==0:
    print(b,"is not a prime number")
    break
 else:
    print(b,"is  a prime number")
a(9)

9 is not prime number

## write a function to print the multiplication table of a number

In [ ]:
def tab(b):
  for i in range(1,b+1):
    print(f'{i} x {b}={i*b}')
tab(10)

1 x 10=10
2 x 10=20
3 x 10=30
4 x 10=40
5 x 10=50
6 x 10=60
7 x 10=70
8 x 10=80
9 x 10=90
10 x 10=100

## write a function to check wether a given string  is a palindrome

In [ ]:
def palin(a):
  if a[::-1]==a:
      print("is palindrom")
  else:
      print("not a palindrom")
palin("reder")

is palindrom

## write a function to return the square of a number

In [ ]:
def sq(a):
  print(f'{a}*{a}={a**2}')
sq(5)

5*5=25

In [ ]:
def sq(a):
  return a**2
sq(6)

36

## write a function that takes a name as input and prints a greeting

In [ ]:
def name():
 name=(input(" name : "))
 print("hi",name)
 print("welcome to the page,have a nice day")
name()

 name : liji
hi liji
welcome to the page,have a nice day

# OOPS

#CLASS AND OBJECT

In [ ]:
class phone:           #class

  def make_call(self):
    print("lets make a phone call")

  def play_game(self):      #method
    print("lets play a game")

In [ ]:
p1=phone()    #object of above class

In [ ]:
p1.make_call() #calling

lets make a phone call

In [ ]:
p1.play_game()   #calling

lets play a game

In [ ]:
class phone:
  def make_call():
    print("lets make a phone call")
  def play_game():
    print("lets play a game")

  def set_color(self,color):
    self.color=color
  def set_cost(self,cost):
    self.cost=cost
  def set_weight(self,weight):
     self.weight=weight

  def show_color(self):
    return self.color
  def show_cost(self):
    return self.cost
  def show_weight(self):
    return self.weight

In [ ]:
p2=phone()

In [ ]:
p2.set_color('blue')

In [ ]:
p2.set_cost(5000)

In [ ]:
p2.show_color()

'blue'

In [ ]:
p2.show_cost()

5000

In [ ]:
class phone:   #all in one
  def make_call():
    print("lets make a phone call")
  def play_game():
    print("lets play a game")

  def set_color(self,color):
    self.color=color
  def set_cost(self,cost):
    self.cost=cost


  def show_color(self):
    return self.color
  def show_cost(self):
    return self.cost
p2=phone()
p2.set_color('blue')
p2.set_cost(5000)
p2.show_color()
p2.show_cost()

5000

In [ ]:
p=phone()   #new object

In [ ]:
p.set_weight(100)

In [ ]:
p.show_weight()

'100'

In [ ]:
class employee:
  def __init__(self,name,age,salary,gender,place):

    self.name=name
    self.age=age
    self.salary=salary
    self.gender=gender
    self.place=place

  def employee_details(self):
    print("name of employee is :",self.name)
    print("age of employee is :",self.age)
    print("salary of employee is :",self.salary)
    print("gender of employee is :",self.gender)
    print("gender of employee is :",self.place)

In [ ]:
e1=employee("sam",32,90000,"male")

In [ ]:
e1.employee_details()

name of employee is : sam
age of employee is : 32
salary of employee is : 90000
gender of employee is : male

In [ ]:
e2=employee("adithya",21,10000,"female","pkd")

In [ ]:
e2.employee_details()

name of employee is : adithya
age of employee is : 21
salary of employee is : 10000
gender of employee is : female
gender of employee is : pkd

In [ ]:
e2=employee("ravi",35,40000,"male","palakkad")
e2.employee_details()

name of employee is : ravi
age of employee is : 35
salary of employee is : 40000
gender of employee is : male
gender of employee is : palakkad

In [ ]:
class character:
  def __init__(self,health,damage,power):
    self.health=health
    self.damage=damage
    self.power=power

ninja = character(100,30,90)
warrior = character(200,40,95)
print("power of ninja: ",ninja.power)
print("health of ninja: ",ninja.health)

power of ninja:  90
health of ninja:  100

In [ ]:
class character:
  def __init__(self,health,damage,power):
    self.health=health
    self.damage=damage
    self.power=power

  def double(self):
    self.power=self.power*2
    self.damage=self.damage*3
ninja = character(100,30,90)
warrior = character(200,40,95)
print("power of ninja: ",ninja.power)
print("power of ninja: ",ninja.health)
ninja.double()
print("after doubling the power")
print("power of ninja: ",ninja.power)
print("power of ninja: ",ninja.damage)

power of ninja:  90
power of ninja:  100
after doubling the power
power of ninja:  180
power of ninja:  90

In [ ]:
class character:

  def __init__(self,name,health,damage,power):
    self.name=name
    self.health = health
    self.damage = damage
    self.power = power

  def hai(self):
    print("Hello I am ",self.name)

  def is_alive(self):
    if self.health <=0:
      print(self.name,"is Dead!")
    else:
      print(self.name,"is alive!")


  def player_details(self):
    print("....."*5)
    print("Name of player is :",self.name)
    print("Health of player is :",self.health)
    print("damage of player is :",self.damage)
    print("power of player is :",self.power)
    print()




ninja = character("Ninja",100,30,90)
warrior = character("Warrior",200,40,95)


ninja.hai()
ninja.health=0
print("Health of ninja:",ninja.health)
ninja.is_alive()
warrior.is_alive()

warrior.player_details()
ninja.player_details()

Hello I am  Ninja
Health of ninja: 0
Ninja is Dead!
Warrior is alive!
.........................
Name of player is : Warrior
Health of player is : 200
damage of player is : 40
power of player is : 95

.........................
Name of player is : Ninja
Health of player is : 0
damage of player is : 30
power of player is : 90

In [ ]:
class student:
  school="abc school"
  def __init__(self,name,age,roll_number):
    self.name=name
    self.age=age
    self.roll_number=roll_number

  def details(self):
    print(f"{self.name} is : {self.age} year old and studying at : {self.school} and roll number is {self.roll_number}")

student1=student("anshif",21,3)
student2=student("anu",20,7)

student.school="learn at ai"
student1.details()

anshif is : 21 year old and studying at : learn at ai and roll number is 3

In [ ]:
class student:
  school = "abc school"

  def __init__(self,name,age,roll_number):
    self.name = name #instance attributes
    self.age = age
    self.roll_number = roll_number

  def details(self): # method!
    print(f"{self.name} is : {self.age} year old and studying at :{self.school} and roll number is : {self.roll_number}")

student1= student("Anshif",21,3)
student2= student("Sinan",20,7)
print(student1.school)

student.school="Learn Logic AI" # updating class attributes

student1.details()

abc school
Anshif is : 21 year old and studying at :Learn Logic AI and roll number is : 3

## built in class functions

In [ ]:
class student:
  school="abc school"

  def __init__(self,name,age,roll_number):
    self.name=name  #instamce attr
    self.age=age
    self.roll_number=roll_number

  def details(self):   #method
    print(f"{self.name } is : {self.age} year old and studying at : {self.school} and roll number is : {self.roll_number}")

student1=student("anshif",21,3)
student2=student("sinan",20,7)
print(getattr(student1,"name")) #or print(student1.name)

setattr(student1,"age",23)  #or student1.age=23
print(student1.age)

print(hasattr(student1,"id")) #to check

delattr(student1,"age")  #for delete

anshif
23
False

In [ ]:
class dog:
  def __init__(self,name,age):
    self.name=name
    self.age=age

  def bark(self):
    print(f"{self.name} says :bow! bow!")

  def intriduce(self):
    print(f"my name is {self.name} and i am {self.age} year old.")

  def sit(self):
    print(f"{self.name} is now sitting.")

  def fetch(self,item):
    print(f"{self.name} is fetching the {item}!")

dog1=dog("mub",21)
dog2=dog("jasi",19)
dog1.bark()
dog2.bark()
dog1.sit()
dog1.fetch("mandhi")
dog2.fetch("stick")
dog1.intriduce()

mub says :bow! bow!
jasi says :bow! bow!
mub is now sitting.
mub is fetching the mandhi!
jasi is fetching the stick!
my name is mub and i am 21 year old.

## question-cat

In [ ]:
class cat:
  def __init__(self,name,color):
    self.name=name
    self.color=color

  def meow(self):
    print(f"{self.name} is meowing")

  def purr(self):
    print(f"{self.name} is purring")

  def scartch(self,item):
    print(f"{self.name} is scratching  {item}")

  def sleep(self):
    print(f"{self.name} is sleeping")

cat1=cat("appu","black")
cat2=cat("kuttu","white")

cat1.meow()
cat2.meow()
print()
cat1.purr()
cat2.purr()
print()
cat1.scartch("my hand !")
cat2.scartch("fish !")
print()
cat1.sleep()
cat2.sleep()

appu is meowing
kuttu is meowing

appu is purring
kuttu is purring

appu is scratching  my hand !
kuttu is scratching  fish !

appu is sleeping
kuttu is sleeping

# INHERITANCE

### SINGLE INHERITANCE

In [ ]:
class animal:
  def speak(self):
    print("animal speaking")
class dog(animal):
  def bark(self):
    print("dog barking")
d=dog()
d.bark()
d.speak()
print()

d1=animal()
d1.speak()

dog barking
animal speaking

animal speaking

In [ ]:
class vehicle:
  def start(self):
    print("vechicle is starting..")
  def stop(self):
    print("vechicle is stopping..")
class car(vehicle):
  def drive(self):
    print("cae is being driven")

v=car()
v.start()
v.drive()
v.stop()

vechicle is starting..
cae is being driven
vechicle is stopping..

### MULTILEVEL INHERITANCE

In [ ]:
class animal:
  def speak(self):
    print("animal speaking")

class dog(animal):  # Child class (inheritance)
  def bark(self):
    print("dog barking")

class dogchild(dog):  #multilevel inheritance
  def eat(self):
    print("eating bread...")

d=dog()
d.bark()
d.speak()
# d.eat()  AttributeError: 'Dog' object has no attribute 'eat'

print()

d1=dogchild()  #multilevel child have all the method
d1.bark()
d1.speak()
d1.eat()

dog barking
animal speaking

dog barking
animal speaking
eating bread...

In [ ]:
class grandfather:
  def house(self):
    print("gradfather buy a house")
  def land(self):
    print("grand father buy a land")

class father(grandfather):
  def car(self):
    print("fathe bought a car")

class son(father):
  def bike(self):
    print("son bought a bike")

a=son()  #son can access both father and grandfather
a.house()
a.land()
a.car()
a.bike()
print()

b=father() #father can acess grandfather only
b.house()
b.land()
b.car()
print()

c=grandfather() #can acess it self only
c.house()
c.land()

gradfather buy a house
grand father buy a land
fathe bought a car
son bought a bike

gradfather buy a house
grand father buy a land
fathe bought a car

gradfather buy a house
grand father buy a land

### HIERACHICAL INHERITANCE

In [ ]:
class shape:  #parent class
  def info(self):
    print("shapes have dimenstions..")

class circle(shape):  #child of shape
  def draw(self):
    print("drawing a circle..")

class rectangle(shape):  #also child of shape
  def draw(self):
    print("drawing a rectangle..")

c=circle()
c.info()
c.draw()
print()

r=rectangle()
r.info()
r.draw()

shapes have dimenstions..
drawing a circle..

shapes have dimenstions..
drawing a rectangle..

In [ ]:
class person:
  def introduce(self):
    print("i am a person")
class student(person):
  def study(self):
    print("i am a student")
class teacher(person):
  def teach(self):
    print("i am a teacher")

a=student()
a.study()
a.introduce()
print()

b=teacher()
b.introduce()
b.teach()

i am a student
i am a person

i am a person
i am a teacher

### MULTIPLE INHERITANCE

In [ ]:
class calculation1:  #parent class
  def summation(self,a,b):
    print(a+b)

class calculation2:  #another parent class
  def multiplication(self,a,b):
    print(a*b)

class derived(calculation1,calculation2):  #child from that both parent classes
  def divide(self,a,b):
    print(a/b)

a=derived()
a.summation(10,40)
a.multiplication(10,5)
a.divide(100,2)

50
50
50.0

### HYBRID INHERITANCE

In [ ]:
class person:
  def show(self):
    print("i ama person")
class teacher(person):
  def teach(self):
    print("i teach students")

class staff:
  def manage(self):
    print("i manage school activities")

#hybrid inhertitance principal inherits from both teacher and staff(single+multiple)
class principal(teacher,staff):
  def oversea(self):
    print("i oversea the entire school")

p=principal()
p.show()
p.teach()
p.manage()
p.oversea()

i ama person
i teach students
i manage school activities
i oversea the entire school

### super( ) method

In [ ]:
class parent:
  def greet1(self):
    print("hellow from parent..")

class child(parent):
  def greet2(self):
    super().greet1()  #calling parent method
    print("hellow from child..")

c=child()
c.greet2()

hellow from parent..
hellow from child..

In [ ]:
class parent:
  def __init__(self,name):
    self.name=name
    print("parent constructor called..")

class child(parent):
  def __init__(self,name,age):
    super().__init__(name)
    print("child constructor called..")

c1=child("anshif",21)

parent constructor called..
child constructor called..

# POLYMORPHISM

## 1.METHOD OVERRIDING(runtime polymorphism)

In [ ]:
class A:
  def show(self):
    print("class A")
class B(A):
  def show(self):
    print("class B")
class C(B):
  def show(self):
    print("class C")

obj=C()
obj.show()   #method overriding

class C

In [ ]:
class a:
  def show(self):
    print("class a")

class b(a):
  def show(self):
    super().show()
    print("class b")

class c(b):
  def show(self):
    super().show()
    print("class c")

obj1=c()
obj1.show()

class a
class b
class c

## 2.METHOD OVERLOADING
.Default arguments - Providing default values to parameters.
.Variable - length arguments ( * args, ** kwargs ) - Allowing a method to acccept different numbersof arguments

Default arguments - Providing default values to parameters.

In [ ]:
class cal:
  def add(self,a,b=0,c=0):
    print(a+b+c)

#Call the mthod with differnt numbers of arguments
c=cal()
c.add(5)
c.add(5,10)
c.add(5,10,15)

5
15
30

Variable - length arguments ( * args, ** kwargs ) - Allowing a method to acccept different numbersof arguments

*positional arguments ( args )

In [ ]:
class math:
  def add(self,*numbers):
    total=sum(numbers)
    print(f"sum:{total}")

m=math()
m.add(5)
m.add(5,10)
m.add(1,2,3,4)

sum:5
sum:15
sum:10

**keyword arguments ( keyword )

In [ ]:
class gree:
  def say_hello(self,**kwargs):
    print(f"hello {kwargs['name']}!")
    print(f"you are {kwargs['age']} years old!")
    print(f"you are from {kwargs['city']}!")
g=gree()
g.say_hello(name="ansa",age=20,city="puthan")

hello ansa!
you are 20 years old!
you are from puthan!

In [ ]:
class gree:  #or
  def say_hello(self,**a):
    print(f"hello {a['name']}!")
    print(f"you are {a['age']} years old!")
    print(f"you are from {a['city']}!")
g=gree()
g.say_hello(name="ansa",age=20,city="puthan")

hello ansa!
you are 20 years old!
you are from puthan!

# ENCAPSULATION

In [ ]:
class company:
  def __init__(self,company_name,company_id):
    self.__company_name=company_name
    self._company_id=company_id

c1=company("TCS",21)
print(c1._company_id) # we can print one underscore variable
# print(c1.__company_name)    # we can't print two underscore variable !

21

In [ ]:
class company:
  def __init__(self,company_name,company_id):
    self.__company_name=company_name
    self._company_id=company_id

  def company1(self):  #create new fun
    print(self.__company_name)

c1= company("TCS",21)
c1.company1()       #access the fun

TCS

In [ ]:

class bankaccount:
  def __init__(self,account_number,balance):
    self.__account_number=account_number
    self.__balance=balance

  def deposite(self,amount):
    if amount>0:
      self.__balance +=amount
      print(f"deposited {amount} . new balance: {self.__balance}")
    else:
      print("invalid deposite error")

  def get_balance(self):
    return self.__balance

a=bankaccount(12345,2000)
a.deposite(200)
print(a.get_balance())

deposited 200 . new balance: 2200
2200

In [ ]:
#add withdrawal as same above pgm
class bankaccount:
  def __init__(self,account_number,balance):
    self.__account_number=account_number
    self.__balance=balance

  def deposite(self,amount):
    if amount>0:
      self.__balance +=amount
      print(f"deposited {amount} . new balance: {self.__balance}")
    else:
      print("invalid deposite error")

  def withdra(self,amount1):
    if amount1>0:
      self.__balance -=amount1
      print(f"withdrawed {amount1} . new balance: {self.__balance}")
    else:
      print("invalid deposite error")

  def get_balance(self):
    return self.__balance

a=bankaccount(12345,2000)
a.deposite(200)
a.withdra(100)
print(a.get_balance())

deposited 200 . new balance: 2200
withdrawed 100 . new balance: 2100
2100

In [ ]:
#add one cond in withdraw
class bankaccount:
  def __init__(self,account_number,balance):
    self.__account_number=account_number
    self.__balance=balance

  def deposite(self,amount):
    if amount>0:
      self.__balance +=amount
      print(f"deposited {amount} . new balance: {self.__balance}")
    else:
      print("invalid deposite error")

  def withdra(self,amount1):
    if amount1>1 and amount1<self.__balance:
      self.__balance -=amount1
      print(f"withdrawed {amount1} . new balance: {self.__balance}")
    else:
      print("invalid withdrawal error")

  def get_balance(self):
    return self.__balance

a=bankaccount(12345,2000)
a.deposite(200)
a.withdra(0)
print(a.get_balance())

deposited 200 . new balance: 2200
invalid withdrawal error
2200

# ABSTRACTION

In [ ]:
from abc import ABC,abstractmethod
class vehicle(ABC):
 @abstractmethod
 def start_engine(self):
  pass

 @abstractmethod
 def stop_engine(self):
  pass

class car(vehicle):
  def start_engine(self):
    print("car enhine started")

  def stop_engine(vechicle):
    print("car engine stopped")

c=car()
c.start_engine()
c.stop_engine()

car enhine started
car engine stopped

* If we want to make object from abstract class we can't directly make object from the abstract class.

* So we need to make child class for abstract class object making

* And also need to make same method ( function ) on child class also


* All child classes must impement the abstract methos of the parent abstract class.
* Abstract class can have both abstract methods and concrete ( regular ) methods

In [ ]:
from abc import ABC,abstractmethod

class shape(ABC):
  @abstractmethod
  def calculate_area(self):
    pass

class circle(shape):
  def __init__(self,radius):
    self.radius=radius

  def calculate_area(self):
    print(f"circle area is : {3.14 *(self.radius)**2 }")

class rectangle(shape):
  def __init__(self,width,height):
    self.width=width
    self.height=height

  def calculate_area(self):
    print(f"rectangle area is : {self.width * self.height}")

c=circle(10)
r=rectangle(5,10)

c.calculate_area()
print()
r.calculate_area()

circle area is : 314.0

rectangle area is : 50

# CLASS METHOD

In [ ]:
class car:
  wheels=4
  def __init__(self,brand,model):
    self.brand=brand
    self.model=model

  @classmethod
  def changewheels(cls,newwheels):
    cls.wheels=newwheels
    print(f"the number of wheels has been updated to {cls.wheels}")

c=car("toyota","etios")
car.changewheels(6)
print()
print(f"car variable updated to : {c.wheels} ")

the number of wheels has been updated to 6

car variable updated to : 6

# QUESTIONS

1.Create an abstract class Animal with an abstract method make_sound(). Then, implement two subclasses, Dog and Cat, which override the make_sound() method to print the respective animal sounds. Instantiate both classes and call their make_sound() methods.

In [ ]:
from abc import ABC,abstractmethod
class animal(ABC):
  @abstractmethod
  def make_sound(self):
    pass

class dog(animal):
  def make_sound(self):
    print("bow bow...")

class cat(animal):
  def make_sound(self):
    print("meoww meoww...")

d=dog()
d.make_sound()
print()
c=cat()
c.make_sound()

bow bow...

meoww meoww...

2.Create an abstract class Employee with an abstract method calculate_salary(). Implement two subclasses, FullTimeEmployee and PartTimeEmployee, which calculate salaries based on a fixed monthly salary and an hourly rate, respectively. Instantiate both classes and print their salaries.

In [ ]:
class employee:
  @abstractmethod
  def calculate_salary(self):
    pass

class fulltime_employee(employee):
  def __init__(self,salary):
    self.salary=salary

  def calculate_salary(self):
    print(f'salary of full time employee : {self.salary}')

class parttime_employee(employee):
  def __init__(self,salary):
    self.salary=salary

  def calculate_salary(self):
    print(f'salary of part time employee : {self.salary/2}')

f=fulltime_employee(50000)
p=parttime_employee(50000)

f.calculate_salary()
p.calculate_salary()

salary of full time employee : 50000
salary of part time employee : 25000.0

3.Create an abstract class Polygon with an abstract method number_of_sides(). Implement two subclasses, Triangle and Pentagon, which return the respective number of sides. Instantiate both classes and print the number of sides.

In [ ]:
class polygon:
  @abstractmethod
  def number_of_sides(self):
    pass

class triangle(polygon):
  def __init__(self,sides):
    self.sides=sides

  def number_of_sides(self):
    print(f'sides of triangle is : {self.sides}')

class pentagon(polygon):
  def __init__(self,sides):
    self.sides=sides

  def number_of_sides(self):
    print(f'sides of pentogon is : {self.sides}')

t=triangle(3)
p=pentagon(5)
t.number_of_sides()
p.number_of_sides()

sides of triangle is : 3
sides of pentogon is : 5

1. Define a Python class Student with the following private attributes:

__name to store the student's name. __marks to store the student's marks.

2.Implement the following public getter and setter methods to access and modify these attributes securely:

set_name(name)  A method to set the student's name. get_name()  A method to retrieve the student's name. set_marks(marks)  A method to set the student's marks (Ensure marks cannot be negative). get_marks()  A method to retrieve the student's marks.

3.Demonstrate the usage of the class by:
-Create an instance of the Student class.

-Setting the name of the student to "Alice" and print it using the getter method. -Setting the marks of the student to 95 and print it using the getter method. -Dont alow negative marks.

In [ ]:
class student:
  def __init__(self):
    self._name=""
    self._mark=0

  def set_name(self,name):
    self.__name=name
  def get_name(self):
     return self.__name

  def set_mark(self,mark):
    if mark<0:
      print("negative marks not allowed")

    else:
      self.__mark=mark
  def get_mark(self):
    return self.__mark

student1=student()
student1.set_name("alice")
print("student name :",student1.get_name())
student1.set_mark(90)
print("student mark:",student1.get_mark())

student name : alice
student mark: 90

Step1 : Define a Python class Employee with the following private attribute:

__salary to store the employee's salary.A

Step 2 : Implement the following public methods to securely access and modify the salary:

-set_salary(salary)  A method to set the employee's salary (Ensure the salary is a positive value). -get_salary()  A method to retrieve the employee's current salary. -increase_salary(percentage)  A method to increase the salary by a given percentage securely and update the salary value.

Step 3 : Demonstrate the usage of the class by:

-Creating an instance of the Employee class. -Setting the salary to 50000 and printing it using the getter method. -Increasing the salary by 10% and printing the updated salary. -Dont allow negative salary , give warning message

In [ ]:
class employee:

  def __init__(self):
    self.__salary= 0
    self.__name = ""

  def set_name(self,name):
    self.__name = name

  def get_name(self):
    print(f"Employee name : {self.__name}")

  def set_salary(self,salary):
    if salary<0:
      print("Salary cannot be negative!")
    else:
      self.__salary = salary

  def get_salary(self):
    print(f"Employee {self.__name}'s salary : {self.__salary} ")


  def increase_salary(self,percentage):
    if percentage<0:
      print("cannot be negative")
    else:
      increased_amount = self.__salary*(percentage/100)
      self.__salary+=increased_amount
      print(f"Employee  {self.__name}'s updated Salary : {self.__salary}")


e=employee()
e.set_name("adithya")
e.set_salary(50000)

e.get_name()
print()
e.get_salary()
print()
e.increase_salary(10)

Employee name : adithya

Employee adithya's salary : 50000

Employee  adithya's updated Salary : 55000.0

# PYTHON FILE HANDLING(x,r,a,r,w,r)

## file handing using OPEN and CLOSE

In [ ]:
#1.create a new file using 'x'
f = open("example1.txt","x")
f.write("file created using x mode.\n")
f.close()

In [ ]:
#2.read the file using 'r'
f = open("example1.txt","r")
print("after creation(r mode):")
print(f.read())
f.close()

after creation(r mode):
file created using x mode.

In [ ]:
#3.append using'a'
f = open("example1.txt","a")
f.write("this line is added using append mode.\n")
f.close()

In [ ]:
#4.read again to confirm append
f = open("example1.txt","r")
print("after append (r mode):")
print(f.read())
f.close()

after append (r mode):
file created using x mode.
this line is added using append mode.
this line is added using append mode.

In [ ]:
#5.write using 'w'(overwrite file)
f = open("example1.txt","w")
f.write("content overwritten using write mode.\n")
f.close()

In [ ]:
#6. read again to confirm overwrite
f = open("example1.txt","r")
print("after write(r mode)")
print(f.read())
f.close()

after write(r mode)
content overwritten using write mode.

## file handling using ONLY with open()

In [ ]:
#1.create a new file using 'x'
with open("example2.txt","x") as f:
  f.write("file created using x mode.\n")

In [ ]:
#2.read the file using 'r'
with open("example2.txt","r") as f:
  print(f.read())

file created using x mode.

In [ ]:
#3.append using 'a'
with open("example2.txt","a")as f:
  f.write("this line is added using append.\n")

In [ ]:
#4. read again to confirm append
with open("example2.txt","r")as f:
  print(f.read())

content over writtedthis line is added using append.

In [ ]:
#5. write using 'w'
with open("example2.txt","w")as f:
  f.write("content over writted")

In [ ]:
#6. read again to confirm overwrite
with open("example2.txt","r")as f:
  print(f.read())

content over writted

# THREADING

In [ ]:
# Example 1: Basic Thread

import threading
def task():
  print("thread running")

t=threading.Thread(target=task)  #syntax
t.start()
t.join()

thread running

In [ ]:
# Example 2: Multiple Threads
import threading
def task1():
  print("task 1")
def task2():
  print("task 2")

t1=threading.Thread(target=task1)
t2=threading.Thread(target=task2)

t1.start()
t1.join()

t2.start()
t2.join()

task 1
task 2

In [ ]:
import threading
def numb():
  for i in range(5):
    print(i)

t=threading.Thread(target=numb)
t.start()
t.join()

0
1
2
3
4

In [ ]:
import threading
import time

def download(file):
  print(f"downloading{file}")
  time.sleep(2)
  print(f"{file} downloaded")

files=["file1.txt","file2.txt","file3.txt"]
threads=[threading.Thread(target=download,args=(f,))for f in files]

for t in threads:
  t.start()

for t in threads:
  t.join()

downloadingfile1.txt
downloadingfile2.txt
downloadingfile3.txt
file1.txt downloaded
file2.txt downloaded
file3.txt downloaded

In [ ]:
#3.using thrad with args
import threading
def greet(name):
  print(f"hello,{name}!")

thread=threading.Thread(target=greet,args=("alice",))
thread.start()
thread.join()

hello,alice!

## two threading

In [ ]:
import threading
import time

# Function for the chef's work (Thread 1)
def chef_work():
  print("kitchen : starting work.")
  for i in range(5):
    print(f"chef: preparing dish {i+1}..")
    time.sleep(2)
    if i == 2:
      print("chef :calling assistant to wash utensils.")
      time.sleep(1)
      assistant_thread=threading.Thread(target=assistant_work)
      assistant_thread.start()
      assistant_thread.join()
      print("chef: assistant done .resuming dish preparation.")
  print("chef: all dishes are prepared.")

# Function for the assistant's work (Thread 2)
def assistant_work():
  for j in range(3):
    print(f" assistant : washing utensil {j+1}..")
    time.sleep(2)
  print(" assistant :all utensils are clean")

chef_thread=threading.Thread(target=chef_work)
chef_thread.start()
chef_thread.join()
print("kitchen : all work completed.")

kitchen : starting work.
chef: preparing dish 1..
chef: preparing dish 2..
chef: preparing dish 3..
chef :calling assistant to wash utensils.
 assistant : washing utensil 1..
 assistant : washing utensil 2..
 assistant : washing utensil 3..
 assistant :all utensils are clean
chef: assistant done .resuming dish preparation.
chef: preparing dish 4..
chef: preparing dish 5..
chef: all dishes are prepared.
kitchen : all work completed.

## QUESTIONS

Qustion :
Write a Python program using threading to simulate music playback and lyrics downloading:

Music playback runs in one thread for 5 seconds, printing a message each second. During the 3rd second, a separate thread starts to simulate downloading lyrics, which takes 3 seconds. Ensure the music playback waits for the lyrics to finish downloading before continuing.

Output

Music Player: Starting music playback. Music Player: Playing music... 1 seconds Music Player: Playing music... 2 seconds Music Player: Playing music... 3 seconds Music Player: Downloading lyrics in the background. Downloading lyrics... 1 seconds Downloading lyrics... 2 seconds Downloading lyrics... 3 seconds Lyrics download completed. Music Player: Lyrics downloaded. Music Player: Playing music... 4 seconds Music Player: Playing music... 5 seconds Music Player: Playback ended

In [ ]:
import threading
import time

def music_playback():

  print(f"Music Player: Starting music playback.")
  for i in range(5):
    print(f"Music Player : Playing music {i+1} seconds" )
    time.sleep(2)

    if i==2:
      print("Music Player : Downloading lyrics in the background.")
      time.sleep(1)
      l=threading.Thread(target=lyric_downloading)
      l.start()
      l.join()
  print("music player : playback ended ")

def lyric_downloading():

  for j in range(3):
   print(f"downloading lyric {j+1} seconds")

m=threading.Thread(target=music_playback)
m.start()
m.join()
print("Lyrics download completed.")

Music Player: Starting music playback.
Music Player : Playing music 1 seconds
Music Player : Playing music 2 seconds
Music Player : Playing music 3 seconds
Music Player : Downloading lyrics in the background.
downloading lyric 1 seconds
downloading lyric 2 seconds
downloading lyric 3 seconds
Music Player : Playing music 4 seconds
Music Player : Playing music 5 seconds
music player : playback ended
Lyrics download completed.

In [ ]:
import threading
import time

def music_playback():

  print(f"Starting music playback.")
  for i in range(5):
    print(f"Music Player : Playing music {i+1}.. seconds" )
    time.sleep(2)

    if i==2:
      print("Downloading lyrics in the background.")
      time.sleep(1)
      l=threading.Thread(target=lyric_downloading)
      l.start()
      l.join()
  print("playback ended. ")

def lyric_downloading():

  for j in range(3):
   print(f"downloading lyric {j+1}.. seconds")
  print("Lyrics download completed.")
m=threading.Thread(target=music_playback)
m.start()
m.join()

Starting music playback.
Music Player : Playing music 1.. seconds
Music Player : Playing music 2.. seconds
Music Player : Playing music 3.. seconds
Downloading lyrics in the background.
downloading lyric 1.. seconds
downloading lyric 2.. seconds
downloading lyric 3.. seconds
Lyrics download completed.
Music Player : Playing music 4.. seconds
Music Player : Playing music 5.. seconds
playback ended.

# EXCEPTION HANDLING

## try-except block

In [ ]:
try:
    num = int(input("Enter a number: "))
    result = 10 / num
except ZeroDivisionError:
    print("Cannot divide by zero!")
except ValueError:
    print("Please enter a valid number!")
else:
    print("Division successful! Result:", result)
finally:
    print("This block always runs.")

Enter a number: 5
Division successful! Result: 2.0
This block always runs.

## else

In [ ]:
try:
  result =10/2
except ZeroDivisionError:
  print("Error")
else:
  print("Result:", result)

Result: 5.0

## finally

In [ ]:
try:
  file_= open("data.txt","r")

except FileNotFoundError:
  print("File not found!")

finally:
  print("End of program")

File not found!
End of program

## raise exception

In [ ]:
try:
  age=int(input("enter yoor age :"))
  if age<0:
    raise ValueError("age cannot be negative")
  else:
    print(f"your age is {age}")
except ValueError as e:
  print(e)
print("try except finished")

enter yoor age :-1
age cannot be negative
try except finished

## custom exception

In [ ]:
class InvalidAgeException(Exception):
  "raised when the input value is less than 18"
  pass
number=18
try:
  input_num=int(input("enter a number :"))
  if input_num< number:
    raise InvalidAgeException
  else:
    print("eligible to vote")

except InvalidAgeException:
  print("exception occured :invalid age")

enter a number :17
exception occured :invalid age

# QUESTIONS

## 1. Handle ZeroDivisionError

Write a program that asks the user for two numbers and prints their division.
If the user enters zero as the second number, handle the exception and print a message.

In [ ]:
try:
 num1=int(input("enter the first number : "))
 num2=int(input("enter the second number: "))
 result=num1/num2
 print("RESULT : ",result)
 if num2==0:
  raise ZeroDivisionError
except ZeroDivisionError:
  print("ZeroDivisionError : can't divide by zero")

enter the first number : 10
enter the second number: 0
ZeroDivisionError : can't divide by zero

## 2. Handle ValueError for Input

Ask the user to enter an integer.
If the user enters something else (like text), catch the ValueError and print Invalid input.

In [ ]:
try:
  num=int(input("enter a integer : "))
except ValueError:
  print("ValueError : only integers are accepted")

enter a integer : hgu
ValueError : only integers are accepted

## 3. List Index Error

Create a list of 5 elements.
Ask the user to enter an index and display the element.
Handle IndexError if the index is out of range.

In [ ]:
try:
  lis=["apple","orange","banana","grapes","mango"]
  l=int(input("enter the index (0-4) :" ))
  print("element is ",lis[l])
except IndexError:
  print("IndexError : enter a valid index")

enter the index (0-4) :5
IndexError : enter a valid index

## 4. File Opening Error

Ask the user for a filename and try to open it.
If the file doesnt exist, catch FileNotFoundError.

In [ ]:
try:
  file_name=input("enter the file name : ")
  file=open(file_name,"r") #"r" used to read mode
except FileNotFoundError:
  print("FileNotFoundError : enter a valid fle name")

enter the file name : adithya
FileNotFoundError : enter a valid fle name


## 5. Multiple Exception Handling

 Write a program that:

 takes two inputs

 converts them into integers

 divides them

 Handle:

 ValueError

 ZeroDivisionError

 any other exception

In [ ]:
try:
 num1=int(input("enter the 1st number : "))
 num2=int(input("enter the 2nd number : "))
 result=num1/num2
 print(" RESULT : ",result)
 if num2==0:
  raise ZeroDivisionError
except ZeroDivisionError:
  print("ZeroDivisionError: cant divide by zero")
except ValueError:
  print("ValueError:enter a valid value")

enter the 1st number : 10
enter the 2nd number : dsd
ValueError:enter a valid value

# ITERATOR

same as for loop

In [ ]:
mytuple=("apple","banana","cherry")
m=iter(mytuple)
print(next(m))
print(next(m))
print(next(m))

apple
banana
cherry

In [ ]:
#also use for loop
mytuple=("apple","banana","cherry")
for x in mytuple:
  print(x)

apple
banana
cherry

# GENERATOR

GENERATOR-at least one yield (yield is to use pause)

In [ ]:
def greet():
  print("hi")
  yield 1
  print("how are you")
  yield 2
  print("are you there")
  yield 3
g=greet()
result=next(g)
print(result)
result=next(g)
print(result)
result=next(g)
print(result)

hi
1
how are you
2
are you there
3

# REGEX FUNCTIONS

## importing the module

In [ ]:
import re

## search for a pattern

In [ ]:
import re
text="my number is 12345"
match=re.search(r"\d+",text)
print(match.group())

12345

## find all matches

In [ ]:
import re
text="car,cat,cap"
matches=re.findall(r"ca.",text)
print(matches)

['car', 'cat', 'cap']

## replace text

In [ ]:
import re
text="i love apple"
new=re.sub(r"apple","oranges",text)
print(new)

i love oranges

## split using RegEx

In [ ]:
import re
txt="the rain in spain"
x=re.search("ai",txt)
print(x)

<re.Match object; span=(5, 7), match='ai'>

## match object

In [ ]:
#if there is no match ,the value none will be return
import re
txt="the rain in spain"
x=re.search("ai",txt)
print(x)

<re.Match object; span=(5, 7), match='ai'>